.centredMenu {
    border-radius: .5em;
    justify-content: center;
    color: #000;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    margin-top : 30px;
    overflow: hidden;
    /* padding-bottom: 2rem !important; */
    padding: 0;
    background-color: #e9edf1 !important;
    max-width: 700px;
    /* max-height: 300px; */
}
.search-section{
    padding: 2rem !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nav-tabs:hover {
    /* background-color: aqua !important; */
    width: 100%;
}

button.nav-link {
    font-size: larger !important;
    font-weight: bold;
    color: rgb(0, 0, 0);
    color:rgba(89,89,89);
}
button.nav-link:hover {
    font-size: x-large !important;
    color: rgb(0, 0, 0);
    opacity: 1 !important;
}
button.nav-link.active {
    background-color: rgb(247, 3, 3) !important;
    color: rgb(255, 255, 255) !important;
}

.headding{
    max-width: 800px;
    margin: 0%;
    justify-content: center;
}
/* @media screen and (max-width: 640px) {
	h1{fontSize: "4rem"}
	
} */
@media screen and (max-width:768px){
    h1{
       font-size:2em !important;
       /* color: aquamarine; */
    }    
  }